
    <div id="content" class="">
        <main id="blogArchive">
            <section class="wrap">
                <div class="page-intro">
                    <strong class="title has-animate animated">Blog</strong>
                </div>
                <div class="big-gallery">
                    <div class="container">
                        <div class="slider animated dots-centered">
                            <div class="item">
                                <div class="image-holder"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/04/How-a-Strong-Brand-Culture-Makes-Your-Company-More-Competitive-type-pdf-1920x1080.jpg')"></div>
                            </div>
                            <div class="item">
                                <div class="image-holder"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/03/Digital-Advertising-Trends-1920x1080.jpg')"></div>
                            </div>
                            <div class="item">
                                <div class="image-holder"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/03/Is-Voice-Marketing-the-Next-Big-Thing-for-Marketing_-02-1920x1080.png')"></div>
                            </div>
                            <div class="item">
                                <div class="image-holder"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/02/Branding-v.-Marketing-A-Guide-01-1920x1070.png')"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="big info animated">
                            <div class="frame show">
                                <strong class="category">Creative and Branding</strong>
                                <h3>
                                    <a href="https://www.bigdropinc.com/blog/how-strong-brand-culture-makes-your-company-more-competitive/">How
                                        a Strong Brand Culture Makes your Company More Competitive</a></h3>
                                <div class="add-info">
                                    <div class="published">
                                        Published on
                                        <time>April 4th, 2018</time>
                                    </div>
                                    <div class="author">
                                        Written by
                                        <strong>Michelle Polizzi
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="frame">
                                <strong class="category">Digital Marketing</strong>
                                <h3><a href="https://www.bigdropinc.com/blog/digital-advertising-trends-in-2018/">Digital
                                    Advertising Trends in 2018: 5 Things to Watch</a></h3>
                                <div class="add-info">
                                    <div class="published">
                                        Published on
                                        <time>March 29th, 2018</time>
                                    </div>
                                    <div class="author">
                                        Written by
                                        <strong>Beth Osborne
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="frame">
                                <strong class="category">Digital Marketing</strong>
                                <h3><a href="https://www.bigdropinc.com/blog/voice-search-for-digital-marketing/">Is
                                    Voice Search the Next Big Thing for Digital Marketing?</a></h3>
                                <div class="add-info">
                                    <div class="published">
                                        Published on
                                        <time>March 22nd, 2018</time>
                                    </div>
                                    <div class="author">
                                        Written by
                                        <strong>Stephanie Knapp
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="frame">
                                <strong class="category">Creative and Branding</strong>
                                <strong class="category">Digital Marketing</strong>
                                <h3><a href="https://www.bigdropinc.com/blog/branding-vs-marketing/">Branding vs
                                    Marketing: A Guide</a></h3>
                                <div class="add-info">
                                    <div class="published">
                                        Published on
                                        <time>March 20th, 2018</time>
                                    </div>
                                    <div class="author">
                                        Written by
                                        <strong>Michelle Polizzi
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul id="archiveNav" class="text-center">
                    <li class="active">
                        <a href="https://www.bigdropinc.com/blog/" data-term="all">All</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/creative-branding/"
                           data-term="creative-branding">Creative and Branding</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/digital-marketing/"
                           data-term="digital-marketing">Digital Marketing</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/new-marketers/" data-term="new-marketers">New
                            Marketers</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/nonprofits/" data-term="nonprofits">Nonprofits</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/saas/" data-term="saas">SaaS</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/sem/" data-term="sem">SEM</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/seo/" data-term="seo">SEO</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/support-and-hosting/"
                           data-term="support-and-hosting">Support and Hosting</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/video-marketing/"
                           data-term="video-marketing">Video Marketing</a>
                    </li>
                    <li class="">
                        <a href="https://www.bigdropinc.com/blog-categories/website-design-development/"
                           data-term="website-design-development">Website Design and Development</a>
                    </li>
                </ul>
                <div class="container">
                    <div class="feed box-item">
                        <article class="article load-item">
                            <a class="body"
                               href="https://www.bigdropinc.com/blog/5-ways-to-make-sure-that-your-website-meets-ada-compliance/">
                                <div class="visual"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/03/Blog-header_WEBSITE_ADA-1024x576.png')"></div>
                                <div class="content">
                                    <h6>5 Ways to Make Sure that Your Website Meets ADA Compliance</h6>
                                    <strong class="category">Support and Hosting</strong>
                                    <strong class="category">Website Design and Development</strong>
                                    <span>June 30th, 2018</span>
                                </div>
                            </a>
                        </article>
                        <article class="article load-item">
                            <a class="body" href="https://www.bigdropinc.com/blog/saas-web-design-trends-2018/">
                                <div class="visual"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/05/web-design-trends_blog-header-1024x576.png')"></div>
                                <div class="content">
                                    <h6>Top SaaS Web Design Trends to watch for in 2018</h6>
                                    <strong class="category">SaaS</strong>
                                    <strong class="category">Website Design and Development</strong>
                                    <span>June 24th, 2018</span>
                                </div>
                            </a>
                        </article>
                        <article class="article load-item">
                            <a class="body" href="https://www.bigdropinc.com/blog/protecting-your-brand-as-a-vendor/">
                                <div class="visual"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/06/Blog-header_25JUN-1-1024x576.png')"></div>
                                <div class="content">
                                    <h6>Protecting Your Brand As A Vendor</h6>
                                    <strong class="category">Digital Marketing</strong>
                                    <span>June 20th, 2018</span>
                                </div>
                            </a>
                        </article>
                        <article class="article load-item">
                            <a class="body"
                               href="https://www.bigdropinc.com/blog/sem-best-practices-for-2018-and-beyond/">
                                <div class="visual"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/02/SEM2018_blog-Header-1-1024x576.png')"></div>
                                <div class="content">
                                    <h6>SEM Best Practices For 2018 and Beyond</h6>
                                    <strong class="category">SEM</strong>
                                    <span>June 18th, 2018</span>
                                </div>
                            </a>
                        </article>
                        <article class="article load-item">
                            <a class="body"
                               href="https://www.bigdropinc.com/blog/decoding-consumer-psychology-more-effective-marketing/">
                                <div class="visual"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/02/Decoding-Consumer-Psychology-The-Key-to-More-Effective-Marketing-02-1024x576.png')"></div>
                                <div class="content">
                                    <h6>Decoding Consumer Psychology: The Key to More Effective Marketing</h6>
                                    <strong class="category">Creative and Branding</strong>
                                    <strong class="category">Digital Marketing</strong>
                                    <span>June 13th, 2018</span>
                                </div>
                            </a>
                        </article>
                        <article class="article load-item">
                            <a class="body" href="https://www.bigdropinc.com/blog/digital-marketing-skills-next-hire/">
                                <div class="visual"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/03/Your-Next-Digital-Marketing-Hire-Should-Have-These-Traits-and-Skills-02-1024x576.png')"></div>
                                <div class="content">
                                    <h6>Your Next Digital Marketing Hire Should Have These Traits and Skills</h6>
                                    <strong class="category">Digital Marketing</strong>
                                    <span>June 11th, 2018</span>
                                </div>
                            </a>
                        </article>
                        <article class="article load-item">
                            <a class="body"
                               href="https://www.bigdropinc.com/blog/everything-you-need-to-know-about-gdpr/">
                                <div class="visual"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/06/GDPR_Blog-header_30May-1024x576.png')"></div>
                                <div class="content">
                                    <h6>Everything You Need to Know About GDPR</h6>
                                    <strong class="category">Digital Marketing</strong>
                                    <strong class="category">Website Design and Development</strong>
                                    <span>June 4th, 2018</span>
                                </div>
                            </a>
                        </article>
                        <article class="article load-item">
                            <a class="body"
                               href="https://www.bigdropinc.com/blog/4-best-ecommerce-digital-marketing-campaigns/">
                                <div class="visual"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/03/Ecomm_Blog-headers_23May-1024x576.png')"></div>
                                <div class="content">
                                    <h6>4 Best Ecommerce Digital Marketing Campaigns</h6>
                                    <strong class="category">Digital Marketing</strong>
                                    <span>June 1st, 2018</span>
                                </div>
                            </a>
                        </article>
                        <article class="article load-item">
                            <a class="body"
                               href="https://www.bigdropinc.com/blog/saas-design-principles-landing-page-conversions/">
                                <div class="visual"
                                     style="background-image: url('https://www.bigdropinc.com/wp-content/uploads/2018/05/5-Must-Have-SaaS-Design-Principles-for-Landing-Page-Conversions-Yellow-1024x576.png')"></div>
                                <div class="content">
                                    <h6>5 Must-Have SaaS Design Principles for Landing Page Conversions</h6>
                                    <strong class="category">SaaS</strong>
                                    <strong class="category">Website Design and Development</strong>
                                    <span>May 25th, 2018</span>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="pagination-wrap">
                        <div class='wp-pagenavi'>
                            <span class='current'>1</span><a class="page larger" title="Page 2"
                                                             href="https://www.bigdropinc.com/blog/page/2/">2</a><a
                                class="page larger" title="Page 3"
                                href="https://www.bigdropinc.com/blog/page/3/">3</a><a class="page larger"
                                                                                       title="Page 4"
                                                                                       href="https://www.bigdropinc.com/blog/page/4/">4</a><a
                                class="page larger" title="Page 5"
                                href="https://www.bigdropinc.com/blog/page/5/">5</a><span class='extend'>...</span><a
                                class="nextpostslink" rel="next" href="https://www.bigdropinc.com/blog/page/2/">»</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer id="footer">

        <ul class="footer social">
            <li><a target="_blank" href="https://www.facebook.com/bigdropcompany"
                   class="fa fb"><span>&#xf09a;</span></a></li>
            <li><a target="_blank" href="https://twitter.com/bigdropinc" class="fa tw">&#xf099;</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company/big-drop-inc" class="fa linkedin">&#xf0e1;</a>
            </li>
            <li><a target="_blank" href="https://plus.google.com/+BigdropincCompany/posts?hl=en"
                   class="fa gp">&#xf0d5;</a></li>
            <li><a target="_blank" href="https://www.instagram.com/bigdropinc" class="fa in">&#xf16d;</a></li>
            <li><a target="_blank" href="https://www.pinterest.com/bigdropinc" class="fa pt">&#xf0d2;</a></li>
            <li><a target="_blank" href="https://www.behance.net/BigDropWebDesign" class="fa behance">&#xf1b4;</a></li>
        </ul>
        <div class="bd-footer">
            Big Drop Inc is a premier web design and web development company with offices in New York, Los Angeles and
            Miami<span class="sep"></span>
            <div itemscope itemtype="https://schema.org/Product"><span itemprop="name">Big Drop Inc</span> has been
                rated in Google+ <span itemprop="aggregateRating" itemscope
                                       itemtype="https://schema.org/AggregateRating"> <span
                        itemprop="ratingValue">5</span> out of <span itemprop="bestRating">5</span> by more than <span
                        itemprop="reviewCount">44</span> reviewers and customers<span class="sep"></span>111 John Street Suite 450, New York NY 10038 212.244.3767<span
                        class="sep"></span>6101 W Centinela Ave, Culver City, CA 90230 310.388.9824<span
                        class="sep"></span>78 SW 7th street, 9th floor, Suite 9134, Miami FL 33130 305.223.9837<span
                        class="sep"></span>
<a href="/cdn-cgi/l/email-protection#ec9f988d9e98ac8e858b889e839c85828fc28f8381"><span class="__cf_email__"
                                                                                       data-cfemail="b8cbccd9caccf8dad1dfdccad7c8d1d6db96dbd7d5">[email&#160;protected]</span></a>
<ul>
<li><a target="_blank" href="/privacy-policy">Privacy Policy</a></li>
<li><a target="_blank" href="/terms-conditions">Terms and Conditions</a></li>
</ul>
            </div>
    </footer>
    <div id="request_form" class="new-request-form">
        <div class="close-button"><span class="fa"></span></div>
        <div class="form-holder">
            <div class="form-content container">
                <div class="title">Start a Project</div>
                <div class="subtitle">Thanks for your interest in working with us. Please complete the details below and
                    we’ll get back to you within one business day.
                </div>
                <form action="" id="new-request-form">
                    <div class="required-fields">
                        All fields are required
                    </div>
                    <fieldset id="step1">
                        <input type="hidden" id="q_oid" class="oid" name="oid" value="00DF0000000gvxy">
                        <input type="hidden" id="q_Location__c" class="Location__c" name="Location__c" value="">
                        <input type="hidden" name="retURL" value="https://bigdropinc.com/thank-you/">
                        <input type="hidden" name="lead_source" value="Request a Quote">
                        <input type="hidden" name="Referral_URL__c" value="">
                        <input type="hidden" id="gclid" name="00N2A00000DSpCt" value="">
                        <input type="hidden" id="captcha_settings-1" name="captcha_settings"
                               value="{&quot;keyname&quot;:&quot;reCaptcha&quot;,&quot;fallback&quot;:&quot;true&quot;,&quot;orgId&quot;:&quot;00DF0000000gvxy&quot;,&quot;ts&quot;:&quot;&quot;}">
                        <input class="gaconnector_fc_source" name="00N2A00000D9heS" type="hidden" value=""><input
                            class="gaconnector_lc_source" name="00N2A00000D9heE" type="hidden" value=""><input
                            class="gaconnector_fc_medium" name="00N2A00000D9heR" type="hidden" value=""><input
                            class="gaconnector_lc_medium" name="00N2A00000D9heC" type="hidden" value=""><input
                            class="gaconnector_fc_campaign" name="00N2A00000D9heP" type="hidden" value=""><input
                            class="gaconnector_lc_campaign" name="00N2A00000D9he8" type="hidden" value=""><input
                            class="gaconnector_fc_term" name="00N2A00000D9heT" type="hidden" value=""><input
                            class="gaconnector_lc_term" name="00N2A00000D9heF" type="hidden" value=""><input
                            class="gaconnector_fc_content" name="00N2A00000D9heQ" type="hidden" value=""><input
                            class="gaconnector_lc_content" name="00N2A00000D9heA" type="hidden" value=""><input
                            class="gaconnector_fc_landing" name="00N2A00000D9he4" type="hidden" value=""><input
                            class="gaconnector_lc_landing" name="00N2A00000D9heB" type="hidden" value=""><input
                            class="gaconnector_fc_referrer" name="00N2A00000D9he5" type="hidden" value=""><input
                            class="gaconnector_lc_referrer" name="00N2A00000D9heD" type="hidden" value=""><input
                            class="gaconnector_fc_channel" name="00N2A00000D9he3" type="hidden" value=""><input
                            class="gaconnector_lc_channel" name="00N2A00000D9he9" type="hidden" value=""><input
                            class="gaconnector_OS" name="00N2A00000D9heK" type="hidden" value=""><input
                            class="gaconnector_device" name="00N2A00000D9he2" type="hidden" value=""><input
                            class="gaconnector_browser" name="00N2A00000D9hdy" type="hidden" value=""><input
                            class="gaconnector_city" name="00N2A00000D9he0" type="hidden" value=""><input
                            class="gaconnector_country" name="00N2A00000D9he1" type="hidden" value=""><input
                            class="gaconnector_time_zone" name="00N2A00000D9heO" type="hidden" value=""><input
                            class="gaconnector_pages_visited_list" name="00N2A00000D9heL" type="hidden" value=""><input
                            class="gaconnector_page_visits" name="00N2A00000D9heJ" type="hidden" value=""><input
                            class="gaconnector_ip_address" name="00N2A00000D9he7" type="hidden" value=""><input
                            class="gaconnector_time_passed" name="00N2A00000D9heM" type="hidden" value=""><input
                            class="gaconnector_GA_Client_ID" name="00N2A00000D9hdz" type="hidden" value=""><input
                            class="gaconnector_latitude" name="00N2A00000D9heG" type="hidden" value=""><input
                            class="gaconnector_longitude" name="00N2A00000D9heI" type="hidden" value=""> <input
                            type="hidden" id="stepLocator" name="step" value="1">
                        <div class="form-group">
                            <label for="q_full_name">Your Name</label>
                            <input id="q_full_name" maxlength="40" class="form-control" name="full_name" size="20"
                                   type="text" required="">
                            <input id="q_first_name" maxlength="40" name="first_name" size="20" type="hidden">
                            <input id="q_last_name" maxlength="80" name="last_name" size="20" type="hidden">
                        </div>
                        <div class="form-group">
                            <label for="q_email">Email</label>
                            <input type="email" id="q_email" class="form-control" name="email" required="">
                        </div>
                        <div class="form-group">
                            <label for="q_phone">Phone Number</label>
                            <input type="text" id="q_phone" class="form-control" name="phone" required="">
                        </div>
                        <div class="form-group">
                            <label for="q_company">Company Name</label>
                            <input type="text" id="q_company" class="form-control" name="company" required="">
                        </div>
                        <div class="form-group">
                            <label for="g-recaptcha"></label>
                            <div class="g-recaptcha" id="g-recaptcha"
                                 data-sitekey="6LchyBUUAAAAAOULMoeReakaIuf4lXIB9EJ4VC_J"></div>
                        </div>
                        <div class="buttons-group">
                            <button class="btn form-main-btn submit-step">Next <img src="./assets/002-next.svg"
                                                                                    alt="Icon"></button>
                        </div>
                    </fieldset>
                    <fieldset id="step2" style="display:none;">
                        <div class="form-group top-label">
                            <label>Project Type</label>
                            <div class="inline-block">
                                <div>
								<span>
								<input type="checkbox" class="checkbox" name="redesigning" id="q_00NF000000DWKY9"
                                       value="1">
								<label for="q_00NF000000DWKY9"
                                       class="small custom-checkbox">Redesigning my website</label>
								</span>
                                    <span>
								<input type="checkbox" class="checkbox" name="new_website" id="q_00NF000000DWKYE"
                                       value="1">
								<label for="q_00NF000000DWKYE" class="small custom-checkbox">A brand new website</label>
								</span>
                                    <span>
								<input type="checkbox" class="checkbox" name="branding" id="q00NF000000DWKYT" value="1">
								<label for="q00NF000000DWKYT" class="small custom-checkbox">Branding</label>
								</span>
                                    <span>
								<input type="checkbox" class="checkbox" name="marketing" id="q_00NF000000DWKYY"
                                       value="1">
								<label for="q_00NF000000DWKYY" class="small custom-checkbox">Marketing</label>
								</span>
                                </div>
                                <div>
								<span>
								<input type="checkbox" class="checkbox" name="ecommerce" id="q_00NF000000DWKYJ"
                                       value="1">
								<label for="q_00NF000000DWKYJ" class="small custom-checkbox">Ecommerce</label>
								</span>
                                    <span>
								<input type="checkbox" class="checkbox" name="mobile_apps" id="q_00NF000000DWKYO"
                                       value="1">
								<label for="q_00NF000000DWKYO" class="small custom-checkbox">Mobile application</label>
								</span>
                                    <span>
								<input type="checkbox" class="checkbox" name="support" id="q_00NF000000DWKYd" value="1">
								<label for="q_00NF000000DWKYd" class="small custom-checkbox">Support</label>
								</span>
                                    <span>
								<input type="checkbox" class="checkbox" name="other" id="q_00NF000000DWKYi" value="1">
								<label for="q_00NF000000DWKYi" class="small custom-checkbox">Other</label>
								</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group top-label">
                            <label for="q_description">Describe the Project</label>
                            <textarea name="description" id="q_description" class="form-control" required=""></textarea>
                        </div>
                        <div class="form-group">
                            <label for="range">Estimated Budget</label>
                            <div class="range">
                                <div class="range-result">up to $<span>20,000</span></div>
                                <input id="range" name="00NF000000DWIci" type="text" value="20000"
                                       class="irs-hidden-input">
                            </div>
                        </div>
                        <div class="buttons-group inline-buttons">
                            <button class="btn form-inner-btn prev-step"><img
                                    src="https://www.bigdropinc.com/wp-content/themes/bd/images/001-back.svg"
                                    alt="Icon"></button>
                            <button type="submit" class="btn form-main-btn submit-step">Submit Your Request <img
                                    src="https://www.bigdropinc.com/wp-content/themes/bd/images/002-next.svg"
                                    alt="Icon"></button>
                        </div>
                    </fieldset>
                    <div style="text-align: center; color: #f1c40f;" class="form-error"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /* <![CDATA[ */
    var pollsL10n = {
        "ajax_url": "https:\/\/www.bigdropinc.com\/wp-admin\/admin-ajax.php",
        "text_wait": "Your last request is still being processed. Please wait a while ...",
        "text_valid": "Please choose a valid poll answer.",
        "text_multiple": "Maximum number of choices allowed: ",
        "show_loading": "1",
        "show_fading": "1"
    };
    /* ]]> */
</script>



<script>
    var rangeOpts = {
        from: 3,
        values: [5000, 10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000, 60000, 70000, 80000, 90000, 100000, 150000, 200000, 250000, 300000, 350000, 400000, 450000, 500000]
    };
    $("#range").ionRangeSlider({
        hide_min_max: true,
        hide_from_to: true,
        grid: false,
        values: rangeOpts.values,
        from: rangeOpts.from,
        onStart: function (data) {
            var val = data.from_value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $('.range-result span').text(val);
        },
        onChange: function (data) {
            var val = data.from_value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $('.range-result span').text(val);
        },
    });
</script>

<script>
    var new_form = $(document).find('form#new-request-form');
    new_form.on('click', '.submit-step', function (e) {
        e.preventDefault();
        myFunction1();
        var serialize_form = new_form.serialize();
        var data = serialize_form;
        $.ajax({
            url: 'php/form.php',
            data: data,
            type: 'POST',
            dataType: 'json',
            beforeSend: function () {
            },
            success: function (res) {
                console.log(res);
                switch (res.status) {
                    case 'validate_error':
                        new_form.find('.form-error').text(res.msg).show().fadeOut(4000);
                        var names = [];
                        $.each(res.errors, function (key, value) {
                            names.push(value);
                        });
                        if (names.length > 0) {
                            new_form.find('.parsley-error').each(function () {
                                $(this).removeClass('parsley-error');
                            });
                            $.each(names, function (index, value) {
                                new_form.find("[name='" + value + "']").addClass('parsley-error');
                            });
                        }
                        break;
                    case 'captcha_error':
                        new_form.find('.form-error').text(res.msg).show().fadeOut(4000);
                        break;
                    case 'step1_is_valid':
                        new_form.find('.parsley-error').each(function () {
                            $(this).removeClass('parsley-error');
                        });
                        new_form.find('#step1').hide();
                        new_form.find('#step2').show();
                        new_form.find('#stepLocator').val(2);

                        break;
                    case 'success':
                        new_form.find('.parsley-error').each(function () {
                            $(this).removeClass('parsley-error');
                        });
                        new_form.find('.form-error').text(res.msg).show();
                        setTimeout(function () {
                            document.location.href = res.redirect_url;
                        }, 1500);
                        break;
                }
                return false;
            }
        });
        return false;
    });
    new_form.on('click', '.prev-step', function (e) {
        e.preventDefault();
        new_form.find('fieldset#step2').hide();
        new_form.find('fieldset#step1').show();
        new_form.find('#stepLocator').val(1);
    });

</script>
</body>
</html>
