/*!
Theme Name: bigspace
Theme URI: http://bigspace.com/
Author: Mironenko Alexandr
Author URI: http://mainbrain.com.ua
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: bigspace
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

bigspace is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
body {
    box-sizing: border-box
}


#archiveNav .current-cat a{
color: black;
    color: #252525;
    border-bottom-color: #fbd514;
}
.noscroll-fixed {
    width: 100%;
    height: 100%;
    overflow: hidden
}

@font-face {
    font-family: Quicksand;
    src: url(./fonts/ss-700-webfont.eot);
    src: url(./fonts/ss-700-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/ss-700-webfont.woff2) format("woff2"), url(./fonts/ss-700-webfont.woff) format("woff"), url(./fonts/ss-700-webfont.ttf) format("truetype"), url(./fonts/ss-700-webfont.svg#sharp_sans_no1bold) format("svg");
    font-weight: 400;
    font-style: normal
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto
}

.clear:before, .clear:after {
    content: '';
    display: table
}

.clear, .clear:after {
    clear: both
}

embed, iframe, object {
    max-width: 100%
}

.work-category {
    background-color: #fff;
    padding: 0;
    text-align: center;
    margin-top: -6px;
    padding-top: 20px
}

.work-category h3 {
    color: #000;
    margin: 0 0 10px;
    font-family: ralewaysemibold, sans-serif;
    font-size: 22px
}

@media (min-width: 1025px) {
    .work-category {
        padding-top: 30px;
        margin-top: 0
    }

    .work-category h3 {
        font-size: 32px;
        margin: 0 0 16px
    }
}

#archiveNav {
    list-style: none;
    padding: 20px 0 40px;
    margin: 0
}

#archiveNav li, .slick-dots li {
    display: block;
    vertical-align: middle;
    padding: 0 20px
}

@media (min-width: 480px) {
    #archiveNav li {
        display: inline-block
    }
}

#archiveNav li.active a {
    color: #252525;
    border-bottom-color: #fbd514
}

#archiveNav a, .slick-dots button {
    -webkit-transition: .3s;
    transition: .3s
}

#archiveNav a {
    display: inline-block;
    color: #9d9d9d;
    text-transform: uppercase;
    font-family: ralewaysemibold, sans-serif;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    padding: 8px 0
}

#archiveNav a:hover {
    color: #252525
}

.work-category-nav {
    background-color: #f1c40f
}

.work-category-nav .content {
    max-width: 93%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

.work-category-nav h3 {
    margin: 0;
    font-size: 18px;
    font-family: ralewaysemibold, sans-serif;
    color: #000;
    margin-bottom: 20px
}

.work-category-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap
}

.work-category-nav li {
    margin: 0 15px
}

.work-category-nav li.active a {
    text-decoration: underline
}

.work-category-nav a {
    font-size: 18px;
    font-family: ralewaysemibold, sans-serif
}

.work-category-nav a:focus, .work-category-nav a:active {
    color: #000
}

.work-category-nav a:hover {
    color: #000;
    text-decoration: underline
}

@media (min-width: 641px) {
    .work-category-nav {
        margin-top: -4px
    }
}

@media (min-width: 1025px) {
    .work-category-nav {
        margin-top: 0;
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 1
    }

    .work-category-nav .content {
        flex-direction: row;
        align-items: flex-start
    }

    .work-category-nav h3 {
        margin-right: 60px;
        margin-bottom: 0
    }
}

.logos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.logos-list .item {
    min-width: 33.33%;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.logos-list .item > img {
    max-width: 200px;
    width: 60% !important;
    height: 100%;
    flex-shrink: 0
}

.logos-list .item > div {
    display: flex;
    align-items: center
}

.request-block-parent .request-block {
    margin-bottom: 0
}

#blogArchive .request-block {
    margin-top: 30px
}

.request-block {
    background-color: #fecf05;
    padding: 25px 0 30px;
    margin-bottom: 30px
}

@media (min-width: 1200px) {
    .request-block {
        padding: 50px 0 61px;
        margin-bottom: 45px
    }

    #blogArchive .request-block {
        margin-top: 45px
    }
}

.request-block .h1, .request-block h1, #blogArchive .request-block .h1 {
    font: 36px/40px "Quicksand", sans-serif;
    max-width: 430px;
    margin: 0 auto 25px !important;
    color: #1b1b1b
}

@media (min-width: 1200px) {
    .request-block .h1, .request-block h1, #blogArchive .request-block .h1 {
        font-size: 46px;
        line-height: 56px;
        margin-bottom: 50px !important;
        margin-top: 0
    }
}

.btn, .text-center {
    text-align: center
}

.request-block .btn {
    min-width: 172px;
    height: 55px;
    border-radius: 30px;
    border: 6px solid transparent;
    display: inline-block;
    vertical-align: top;
    line-height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    box-sizing: border-box
}

.request-block .btn.btn-white {
    font-family: 'Oswald', sans-serif;
    border: 6px solid #fff
}

.request-block .btn, .btn:hover {
    color: #000
}

#desc .container {
    padding: 0 10px
}

@media (min-width: 1024px) {
    #desc .container {
        max-width: 70%;
        margin: 0 auto
    }
}

@media (max-width: 768px) {
    #single-work #desc p {
        display: block !important
    }
}

#header .header #nav ul ul.sub-menu {
    min-width: 165px;
    width: auto
}

body #header .header #nav ul li.menu-item-has-children > a {
    display: block !important
}

@media (max-width: 1024px) {
    .sub-menu {
        display: none
    }
}

#request_form.open {
    top: 0 !important
}

#request_form.visible {
    display: block !important;
    opacity: 1 !important
}

.request-block .btn {
    color: #fff;
    background-color: #d63e4b;
    border-color: #d63e4b !important
}

div[style*="z-index: 2000000000"] + div {
    transform: scale(.9)
}

.no-touch div[style*="z-index: 2000000000"] + div {
    transform: none
}

#header .header #rq {
    display: block !important;
    z-index: 9999 !important
}

@media (max-width: 1024px) and (min-width: 641px) {
    #header .header #rq {
        top: 10px !important
    }
}

#digital-agency {
    background-color: #f1f1f1
}

#digital-agency .item-wrap {
    padding: 20px 35px 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center
}

#digital-agency .item-wrap .content-text {
    color: #000;
    max-width: 860px
}

#digital-agency .item-wrap .content-text p {
    margin: 0;
    font-size: 20px;
    line-height: 1.3
}

@media (min-width: 768px) {
    #digital-agency .item-wrap {
        padding: 20px 55px 20px 15px
    }

    #digital-agency .item-wrap .content-text p {
        font-size: 30px
    }
}

@media (min-width: 1024px) {
    #digital-agency .item-wrap .content-text p {
        font-size: 36px
    }
}

@media (min-width: 1200px) {
    #digital-agency .item-wrap .content-text p {
        font-size: 46px
    }
}

#digital-agency .item-wrap .content-text span {
    color: #f1f1f1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}