a.next.page-numbers {
    background-image: url(./images/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}
a.next.page-numbers:hover {
    background-image: url(./images/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

a.previous.page-numbers {
    background-image: url(./images/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
    transform: rotate(180deg);


}
a.previous.page-numbers:hover {

    border: none;
    cursor: pointer;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes waveAnimate {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes waveAnimate {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@-webkit-keyframes up {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes up {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@font-face {
    font-family: sharp_sans_no1regular;
    src: url(./fonts/ss-400-webfont.eot);
    src: url(./fonts/ss-400-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/ss-400-webfont.woff2) format("woff2"), url(./fonts/ss-400-webfont.woff) format("woff"), url(./fonts/ss-400-webfont.ttf) format("truetype"), url(./fonts/ss-400-webfont.svg#sharp_sans_no1regular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: sharp_sans_no1bold;
    src: url(./fonts/ss-700-webfont.eot);
    src: url(./fonts/ss-700-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/ss-700-webfont.woff2) format("woff2"), url(./fonts/ss-700-webfont.woff) format("woff"), url(./fonts/ss-700-webfont.ttf) format("truetype"), url(./fonts/ss-700-webfont.svg#sharp_sans_no1bold) format("svg");
    font-weight: 400;
    font-style: normal
}

.slick-list, .slick-slider {
    position: relative;
    display: block
}

.slick-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}

.slick-track:after, .slick-track:before {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-initialized .slick-slide, .slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

#blogArchive .big-gallery .image-holder a, .share-left a:after, .share-left span, .slick-arrow.slick-hidden {
    display: none
}

#blogArchive .big-gallery {
    padding: 40px 0;
    position: relative
}

@media (min-width: 768px) {
    #blogArchive .big-gallery {
        padding-bottom: 0;
        margin-bottom: 40px
    }
}

@media (min-width: 1200px) {
    #blogArchive .big-gallery {
        margin-bottom: 60px
    }
}

#blogArchive .big-gallery .slider {
    position: static
}

#blogArchive .big-gallery .slider.animated .image-holder:after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

#blogArchive .big-gallery .item {
    position: relative;
    z-index: 100
}

#blogArchive .big-gallery .item .image-holder {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 1000
}

#blogArchive .big-gallery .item.fixed-bottom .image-holder, #blogArchive .big-gallery .item.fixed-top .image-holder {
    -webkit-transform: translateX(70%);
    transform: translateX(70%);
    -webkit-transition: -webkit-transform .65s linear;
    transition: transform .65s linear;
    transition: transform .65s linear, -webkit-transform .65s linear
}

#blogArchive .big-gallery .item.fixed-top {
    z-index: 50
}

#blogArchive .big-gallery .item.fixed-top .image-holder {
    -webkit-transform: translateX(-70%);
    transform: translateX(-70%);
    z-index: 50
}

#blogArchive .big-gallery .image-holder {
    width: 100%;
    min-height: 233px;
    padding-top: 56.3%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden
}

#blogArchive .big-gallery .image-holder:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #fff;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .image-holder a {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        overflow: hidden
    }
}

#blogArchive .big-gallery .info {
    padding: 18px 19px;
    background-color: #fff;
    width: 240px;
    margin: -171px 0 -11px auto;
    position: relative;
    right: -15px;
    z-index: 30
}

@media (min-width: 640px) {
    #blogArchive .big-gallery .info {
        width: 300px
    }
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .info {
        width: 450px;
        right: -20px;
        margin: -149px 0 6px auto;
        padding: 42px 46px 38px
    }
}

@media (min-width: 1281px) {
    #blogArchive .big-gallery .info {
        width: 530px;
        right: 0;
        margin: -156px 0 115px auto
    }
}

#blogArchive .big-gallery .info.big {
    width: calc(100% - 30px);
    padding: 30px;
    margin: 20px auto 0;
    right: auto;
    text-align: center
}

@media (min-width: 640px) {
    #blogArchive .big-gallery .info.big {
        width: 500px
    }
}

@media (min-width: 1200px) {
    #blogArchive .big-gallery .info.big {
        width: 770px;
        padding: 44px 100px 47px;
        margin: -150px auto 0
    }
}

#blogArchive .big-gallery .info.big h3 {
    padding-bottom: 15px;
    margin-bottom: 15px
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .info.big h3 {
        padding-bottom: 30px;
        margin-bottom: 37px
    }
}

#blogArchive .big-gallery .info.big h3 a:after, #blogArchive .post-title h1:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -62px;
    background: url(./images/waves.svg) repeat-x;
    width: 124px;
    height: 6px
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .info.big h3 a:hover:after {
        -webkit-transition: background-position 20s linear;
        transition: background-position 20s linear;
        background-position: 1000px 100%
    }
}

#blogArchive .big-gallery .info.big .frame {
    top: 30px;
    left: 30px;
    right: 30px
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .info.big .frame {
        top: 44px;
        left: 100px;
        right: 100px
    }
}

#blogArchive .big-gallery .info.big .frame.show {
    z-index: 20;
    top: auto;
    left: auto;
    right: auto
}

#blogArchive .big-gallery .info.animated .frame > * {
    -webkit-animation: 1s fadeInUp both;
    animation: 1s fadeInUp both
}

#blogArchive .big-gallery .info .frame > * {
    opacity: 0
}

#blogArchive .big-gallery .info ul {
    font-size: 0;
    line-height: 0;
    margin: 0 0 7px -12px
}

#blogArchive .big-gallery .info li {
    font: 10px/16px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 12px
}

@media (min-width: 1281px) {
    #blogArchive .big-gallery .info li {
        font-size: 12px
    }
}

#blogArchive .big-gallery .category:first-child:before, #blogArchive .big-gallery .info li:first-child:before {
    display: none
}

#blogArchive .big-gallery .category:before, #blogArchive .big-gallery .info li:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -3px;
    width: 1px;
    height: 9px;
    background-color: #1b1b1b
}

#blogArchive .big-gallery .frame {
    position: absolute;
    top: 18px;
    left: 19px;
    right: 19px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .frame {
        top: 42px;
        left: 46px;
        right: 46px
    }
}

#blogArchive .big-gallery .frame.show {
    position: relative;
    opacity: 1;
    top: auto;
    left: auto;
    right: auto;
    z-index: 20
}

#blogArchive .big-gallery .logo {
    margin-bottom: 8px
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .logo {
        margin-bottom: 27px
    }
}

#blogArchive .big-gallery .logo img {
    vertical-align: top;
    max-width: 112px
}

#blogArchive .big-gallery h3 {
    font-size: 22px;
    line-height: 32px;
    font-family: sharp_sans_no1bold, sans-serif !important;
    color: #1b1b1b;
    margin-bottom: 10px;
    position: relative
}

@media (min-width: 768px) {
    #blogArchive .big-gallery h3 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 20px
    }
}

#blogArchive .big-gallery a, #blogArchive .feed a, #blogArchive .feed a:hover, .info-list h3 a {
    color: #1b1b1b
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .link-holder a:not(.decorate-link) {
        position: absolute;
        top: 75vh;
        left: 50%;
        z-index: 50;
        margin: 106px 0 0 -183px
    }
}

@media (min-width: 1281px) {
    #blogArchive .big-gallery .link-holder a:not(.decorate-link) {
        top: 81.6vh;
        margin-top: 112px
    }
}

#blogArchive .big-gallery .category {
    display: inline-block;
    vertical-align: top;
    font: 10px/14px "sharp_sans_no1bold", sans-serif;
    text-transform: uppercase;
    color: #fed005;
    margin-bottom: 10px;
    padding-left: 12px;
    opacity: 0;
    position: relative
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .category {
        margin-bottom: 15px
    }
}

#blogArchive .big-gallery .category:first-child {
    padding-left: 0
}

#blogArchive .big-gallery .add-info {
    font: 14px/20px "sharp_sans_no1regular", sans-serif;
    color: #1b1b1b
}

@media (min-width: 640px) {
    #blogArchive .big-gallery .add-info {
        width: 344px;
        margin: 0 auto
    }
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .add-info {
        font-size: 16px;
        line-height: 26px
    }
}

#blogArchive .big-gallery .add-info strong {
    font-family: sharp_sans_no1bold, sans-serif;
    font-weight: 400
}

#blogArchive .big-gallery .add-info time {
    margin-bottom: 15px
}

@media (min-width: 640px) {
    #blogArchive .big-gallery .add-info time {
        margin-bottom: 0
    }
}

#blogArchive .big-gallery .dots-centered .slick-dots {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    -webkit-transform: none;
    transform: none
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .dots-centered .slick-dots {
        bottom: -45px
    }
}

#blogArchive .big-gallery .dots-centered .slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    cursor: pointer
}

#blogArchive .big-gallery .dots-centered .slick-dots li.slick-active button:after {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    background: 0 0
}

#blogArchive .big-gallery .dots-centered .slick-dots button {
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    background: 0 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer
}

#blogArchive .big-gallery .dots-centered .slick-dots button:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(.3);
    transform: translate(-50%, -50%) scale(.3);
    width: 12px;
    height: 12px;
    -webkit-box-shadow: inset 0 0 0 2px #1b1b1b;
    box-shadow: inset 0 0 0 2px #1b1b1b;
    border-radius: 50%;
    background-color: #1b1b1b;
    -webkit-transition: background-color .3s, -webkit-transform .8s;
    transition: transform .8s, background-color .3s;
    transition: transform .8s, background-color .3s, -webkit-transform .8s
}

#blogArchive .big-gallery .slider:not(.dots-centered) .slick-dots {
    margin: 20px 0 0 15px;
    position: relative;
    z-index: 20
}

@media (min-width: 640px) {
    #blogArchive .big-gallery .slider:not(.dots-centered) .slick-dots {
        margin-left: 100px
    }
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .slider:not(.dots-centered) .slick-dots {
        margin: 42px auto 0;
        width: 1000px
    }
}

@media (min-width: 1281px) {
    #blogArchive .big-gallery .slider:not(.dots-centered) .slick-dots {
        margin-top: 48px;
        width: 1172px
    }
}

#blogArchive .big-gallery .slider:not(.dots-centered) .slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    cursor: pointer
}

#blogArchive .big-gallery .slider:not(.dots-centered) .slick-dots li.slick-active button:after {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    background: 0 0
}

#blogArchive .big-gallery .slider:not(.dots-centered) .slick-dots button {
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    background: 0 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer
}

#blogArchive .big-gallery .slider:not(.dots-centered) .slick-dots button:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(.3);
    transform: translate(-50%, -50%) scale(.3);
    width: 12px;
    height: 12px;
    -webkit-box-shadow: inset 0 0 0 2px #1b1b1b;
    box-shadow: inset 0 0 0 2px #1b1b1b;
    border-radius: 50%;
    background-color: #1b1b1b;
    -webkit-transition: background-color .3s, -webkit-transform .8s;
    transition: transform .8s, background-color .3s;
    transition: transform .8s, background-color .3s, -webkit-transform .8s
}

@media (min-width: 768px) {
    #blogArchive .big-gallery .link-holder a:not(.decorate-link) {
        position: absolute;
        top: 670px;
        left: 50%;
        z-index: 50;
        margin: 106px 0 0 -183px
    }
}

@media (min-width: 1025px) {
    #blogArchive .big-gallery .link-holder a:not(.decorate-link) {
        top: 75vh
    }
}

@media (min-width: 1281px) {
    #blogArchive .big-gallery .link-holder a:not(.decorate-link) {
        top: 81.6vh;
        margin-top: 112px
    }
}

.link-holder, .link-holder.container {
    margin-bottom: 31px
}

.link-holder.container:after, .link-holder:after {
    content: '';
    display: block;
    clear: both
}

@media (min-width: 768px) {
    .link-holder, .link-holder.container {
        margin-bottom: 50px
    }
}

.link-holder .decorate-link, .link-holder.container .decorate-link {
    float: left
}

.link-holder a:not(.decorate-link), .link-holder.container a:not(.decorate-link) {
    font: 10px/20px "sharp_sans_no1bold", sans-serif;
    float: right;
    color: #1b1b1b;
    text-transform: uppercase;
    opacity: .2;
    margin-right: 11px
}

@media (min-width: 768px) {
    .link-holder a:not(.decorate-link), .link-holder.container a:not(.decorate-link) {
        margin-right: 2px;
        -webkit-transition: opacity .3s;
        transition: opacity .3s
    }

    .link-holder a:not(.decorate-link):hover, .link-holder.container a:not(.decorate-link):hover {
        opacity: .8
    }
}

@media (min-width: 1281px) {
    .link-holder a:not(.decorate-link), .link-holder.container a:not(.decorate-link) {
        font-size: 12px
    }
}

.body.sticky, .share-left, .share-left li {
    position: relative
}

.share-left {
    max-width: 341px;
    width: 100%;
    margin: 20px auto;
    padding: 30px 20px 20px;
    font: 16px/24px "sharp_sans_no1bold", sans-serif;
    border: 1px solid #eaeaea;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width: 1025px) {
    .share-left {
        width: 100px;
        margin: 0 0 0 20px;
        padding: 65px 0 25px;
        background-color: #fff;
        visibility: visible;
        -webkit-transition: opacity .7s, visibility .7s;
        transition: opacity .7s, visibility .7s
    }

    .share-left:hover strong, .share-left:hover:after {
        -webkit-transition: background-position 200s linear;
        transition: background-position 200s linear;
        background-position: 10000px 100%
    }
}

.share-left.animated {
    opacity: 1 !important;
    -webkit-animation: stop !important;
    animation: stop !important
}

.sticky .share-left {
    position: fixed;
    top: 87px;
    z-index: 150;
    opacity: 1
}

.hide.sticky .share-left {
    position: absolute;
    bottom: 20px;
    top: auto
}

@media (min-width: 1025px) {
    .share-left:after {
        content: '';
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -21px;
        width: 43px;
        height: 6px;
        background: url(./images/waves.svg) 0 100% repeat-x
    }
}

.share-left ul {
    margin: 0 !important;
    width: auto !important;
    padding: 0
}

@media (min-width: 1025px) {
    .share-left ul {
        padding: auto
    }
}

.share-left li {
    display: inline-block;
    vertical-align: top;
    height: 15px;
    margin: 0 0 2px 2px;
    overflow: hidden
}

@media (min-width: 1025px) {
    .share-left li {
        display: block;
        height: 25px;
        margin: 0
    }
}

.share-left a {
    height: 15px;
    width: 15px;
    display: block;
    overflow: hidden
}

@media (min-width: 1025px) {
    .share-left a {
        height: 20px
    }

    .share-left a:hover img {
        top: -100%
    }

    .share-left a:hover span {
        top: 0
    }
}

.share-left img {
    width: 100%;
    height: auto;
    margin: 0
}

@media (min-width: 1025px) {
    .share-left span {
        display: block;
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        height: 15px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transition: top .6s;
        transition: top .6s
    }
}

.share-bottom strong, .share-left strong {
    font-weight: 400;
    padding-bottom: 5px;
    background: url(./images/waves.svg) 0 100% repeat-x
}

.share-bottom {
    max-width: 341px;
    width: 100%;
    margin: 0 auto 25px;
    padding: 30px 20px 25px;
    font: 16px/24px "sharp_sans_no1bold", sans-serif;
    border: 1px solid #eaeaea;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (min-width: 640px) {
    .share-bottom {
        padding: 31px 25px 36px 45px
    }
}

@media (min-width: 768px) {
    .share-bottom {
        margin: 5px auto 75px
    }
}

.share-bottom.has-animate {
    opacity: 0
}

#blogArchive .post-title .frame.animated > *, .info-list li.animated .category, .info-list li.animated .wrap, .info-list li.animated h3, .info-list li.animated time, .share-bottom.animated {
    -webkit-animation: 1s fadeInUp both;
    animation: 1s fadeInUp both
}

.share-bottom ul {
    margin-top: 7px;
    margin-bottom: 0 !important;
    width: auto !important
}

.share-bottom li {
    display: inline-block;
    vertical-align: top;
    height: 15px;
    margin: 0 0 2px 2px;
    position: relative;
    overflow: hidden
}

.share-bottom a {
    height: 15px;
    width: 20px;
    display: block
}

@media (min-width: 768px) {
    .share-bottom a:hover img {
        top: -100%
    }

    .share-bottom a:hover span {
        top: 0
    }
}

.share-bottom img, .share-left img {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 15px;
    max-width: 23px;
    vertical-align: middle;
    -webkit-transition: top .4s;
    transition: top .4s
}

.share-bottom span {
    display: none
}

@media (min-width: 768px) {
    .share-bottom span {
        display: block;
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        height: 15px;
        background-position: 0 50%;
        background-repeat: no-repeat;
        -webkit-transition: top .6s;
        transition: top .6s
    }
}

.share-bottom strong {
    padding-bottom: 0;
    line-height: 32px
}

@media (min-width: 768px) {
    .share-bottom strong:hover {
        -webkit-transition: background-position 20s linear;
        transition: background-position 20s linear;
        background-position: 1000px 100%
    }
}

#blogArchive .post-title {
    padding: 50px 0 30px;
    text-align: center;
    background-color: #fff
}

@media (min-width: 1200px) {
    #blogArchive .post-title {
        padding: 60px 0 0
    }
}

#blogArchive .post-title .image-holder {
    width: 100%;
    min-height: 233px;
    padding-top: 55.76%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden
}

@media (min-width: 1200px) {
    #blogArchive .post-title .image-holder {
        height: 75vh;
        min-height: 670px
    }
}

@media (min-width: 1800px) {
    #blogArchive .post-title .image-holder {
        height: 81.6vh
    }
}

#blogArchive .post-title .image-holder.animated:after, .info-list li.animated .image-holder:after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

#blogArchive .post-title .image-holder:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #fff;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s
}

#blogArchive .post-title .frame {
    width: calc(100% - 30px);
    padding: 30px;
    margin: 20px auto 0;
    text-align: center
}

@media (min-width: 1200px) {
    #blogArchive .post-title .frame {
        margin-bottom: 35px
    }
}

#blogArchive .post-title .frame > * {
    opacity: 0
}

@media (min-width: 640px) {
    #blogArchive .post-title .frame {
        width: 500px
    }
}

@media (min-width: 1200px) {
    #blogArchive .post-title .frame {
        width: 770px;
        padding: 44px 100px 47px
    }
}

#blogArchive .post-title .category {
    display: inline-block;
    vertical-align: top;
    font: 10px/14px "sharp_sans_no1bold", sans-serif;
    text-transform: uppercase;
    color: #fed005;
    margin-bottom: 10px;
    padding-left: 12px;
    position: relative
}

@media (min-width: 1200px) {
    #blogArchive .post-title .category {
        margin-bottom: 15px
    }
}

#blogArchive .post-title .category:first-child {
    padding-left: 0
}

#blogArchive .post-title .category:first-child:before {
    display: none
}

#blogArchive .post-title .category:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -3px;
    width: 1px;
    height: 9px;
    background-color: #1b1b1b
}

#blogArchive .post-title .add-info {
    font: 14px/20px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b
}

@media (min-width: 640px) {
    #blogArchive .post-title .add-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 344px;
        margin: 0 auto;
        padding-right: 30px
    }
}

@media (min-width: 1200px) {
    #blogArchive .post-title .add-info {
        font-size: 16px;
        line-height: 26px
    }
}

#blogArchive .feed .category + .category:before, #blogArchive .post-title .add-info strong, #blogArchive .post-title .add-info time, .info-list .category + .category:before, .info-list li.case-study strong {
    display: block
}

#blogArchive .post-title .add-info time, .page-intro .some-info p {
    margin-bottom: 15px
}

@media (min-width: 640px) {
    #blogArchive .post-title .add-info time {
        margin-bottom: 0
    }
}

#blogArchive .post-title .add-info strong {
    font-weight: 400
}

#blogArchive .post-title h1 {
    font-size: 22px;
    line-height: 32px;
    font-family: sharp_sans_no1bold, sans-serif;
    color: #1b1b1b;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 400
}

@media (min-width: 1200px) {
    #blogArchive .post-title h1 {
        font-size: 32px;
        line-height: 42px;
        padding-bottom: 30px;
        margin-bottom: 37px
    }

    #blogArchive .post-title h1:hover:after {
        -webkit-transition: background-position 20s linear;
        transition: background-position 20s linear;
        background-position: 1000px 100%
    }
}

.single-post .container.bottom {
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #eee
}

.single-post .container._row .body ol, .single-post .container._row .body p, .single-post .container._row .body ul {
    padding-bottom: 5px;
    margin: 0
}

@media (min-width: 1200px) {
    .single-post .container._row .body ol, .single-post .container._row .body p, .single-post .container._row .body ul {
        padding-bottom: 15px;
        font-size: 22px;
        line-height: 32px
    }
}

.single-post .container._row .body ol a, .single-post .container._row .body p a, .single-post .container._row .body ul a {
    color: #000;
    position: relative;
    text-decoration: none
}

@media (min-width: 1200px) {
    .single-post .container._row .body ol a:hover, .single-post .container._row .body p a:hover, .single-post .container._row .body ul a:hover {
        text-decoration: none
    }

    .single-post .container._row .body ol a:hover:after, .single-post .container._row .body p a:hover:after, .single-post .container._row .body ul a:hover:after {
        -webkit-transition: background-position 20s linear;
        transition: background-position 20s linear;
        background-position: 1000px 100%
    }
}

.single-post .container._row .body ol a:after, .single-post .container._row .body p a:after, .single-post .container._row .body ul a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 7px;
    right: 7px;
    height: 6px;
    background: url(./images/waves.svg) 0 100% repeat-x
}

.single-post .container._row .body .back-link {
    color: #000
}

.single-post .container img {
    height: auto
}

.single-post .container iframe {
    display: block;
    margin: auto
}

@media (min-width: 1025px) {
    .single-post .container.bottom {
        padding-top: 60px
    }

    .single-post .container._row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .single-post .container._row .col-left {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-right: 30px
    }

    .single-post .container._row .col-main {
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
        padding-left: 30px
    }
}

.single-post .alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em
}

.single-post .alignright {
    display: inline;
    float: right;
    margin-left: 1.5em
}

.single-post .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.single-post .comment-content img, .single-post .entry-content img, .single-post .widget img {
    height: auto;
    max-width: 100% !important
}

.single-post #content .gallery-columns-2 .gallery-item img, .single-post #content .gallery-columns-3 .gallery-item img, .single-post #content .gallery-columns-4 .gallery-item img {
    width: 100%;
    height: auto
}

.single-post img[class*=align], .single-post img[class*=attachment-], .single-post img[class*=wp-image-] {
    height: auto
}

.single-post img.size-full, .single-post img.size-large {
    max-width: 100%;
    width: auto;
    height: auto
}

.single-post img.size-full, .single-post img.size-large, .single-post img.size-medium {
    display: block;
    margin: 0 auto
}

.single-post .entry-content img.wp-smiley {
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0
}

.single-post img.aligncenter, .single-post img.alignleft, .single-post img.alignright {
    margin-bottom: 1.625em
}

.single-post .wp-caption, .single-post p img {
    margin-top: .4em
}

.single-post .wp-caption {
    max-width: 96%
}

.single-post .wp-caption img {
    display: block;
    margin: 0 auto;
    max-width: 98%
}

.single-post .gallery-caption, .single-post .wp-caption .wp-caption-text {
    color: #999;
    font-size: .923em
}

.single-post .wp-caption .wp-caption-text {
    margin-bottom: .6em;
    padding: .833em 0 .417em;
    position: relative
}

.single-post .gallery {
    margin: 0 auto 1.625em
}

.single-post .gallery a img {
    border: 0
}

.single-post .gallery-columns-3 .gallery-item {
    width: 31%;
    padding-right: 2%
}

.single-post .gallery-columns-4 .gallery-item {
    width: 23%;
    padding-right: 2%
}

.single-post .gallery-columns-2 .gallery-item {
    width: 45%;
    padding-right: 4%
}

.single-post embed, .single-post iframe, .single-post object {
    max-width: 100%
}

.info-list {
    padding: 0;
    list-style: none
}

@media (min-width: 768px) {
    .info-list {
        text-align: center;
        max-width: 1110px;
        width: 100%;
        margin: 0 auto
    }
}

@media (min-width: 1200px) {
    .info-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
        position: relative;
        z-index: 5
    }
}

@media (min-width: 1440px) {
    .info-list {
        max-width: 1280px
    }
}

@media (min-width: 1200px) {
    .info-list.big {
        padding-top: 33px;
        margin-bottom: -25px
    }
}

@media (min-width: 1800px) {
    .info-list.wide-list {
        max-width: 1504px
    }

    .info-list.wide-list li {
        width: calc(33.33% - 15px);
        padding: 0 10px
    }
}

@media (min-width: 1200px) {
    .info-list.wide-list h3 {
        padding-right: 0
    }
}

.info-list li {
    width: 270px;
    margin: 0 auto 34px
}

@media (min-width: 768px) {
    .info-list li {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 0 15px 34px;
        width: 40%
    }
}

@media (min-width: 1200px) {
    .info-list li {
        width: calc(33.33% - 15px);
        display: block;
        margin: 0 0 105px;
        padding: 0 15px
    }
}

.info-list li:nth-child(odd) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.info-list li.case-study strong span {
    display: inline-block;
    vertical-align: top
}

.info-list li.animated:nth-child(even) .image-holder:after, .info-list li.animated:nth-child(even) .wrap, .info-list li.animated:nth-child(even) h3 {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.info-list li.animated strong span {
    -webkit-animation: .7s fadeInUp both;
    animation: .7s fadeInUp both;
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}

.info-list .image-holder {
    display: block;
    position: relative;
    height: 220px;
    margin-bottom: 29px;
    overflow: hidden
}

@media (min-width: 1200px) {
    .info-list .image-holder {
        height: 240px;
        margin-bottom: 20px
    }

    .info-list .image-holder:hover .image {
        -webkit-transform: scale(1) rotate(.02deg);
        transform: scale(1) rotate(.02deg)
    }

    .info-list .image-holder:hover a span {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
        margin-top: 0
    }
}

@media (min-width: 1800px) {
    .info-list .image-holder {
        margin-bottom: 7px
    }
}

.info-list .image-holder:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #fff;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
    z-index: 100
}

.info-list .image, .info-list .image-holder a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px
}

.info-list .image-holder a {
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    z-index: 20
}

.info-list .image-holder strong {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 20px;
    width: 150px;
    color: #fed005;
    font: 16px/22px "sharp_sans_no1bold", sans-serif;
    text-align: center;
    background-color: #fff;
    display: none
}

@media (min-width: 1200px) {
    .info-list .image-holder strong {
        padding: 39px 20px;
        width: 174px
    }
}

.info-list .image {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat
}

@media (min-width: 1200px) {
    .info-list .image {
        -webkit-transform: scale(1.1) rotate(.02deg);
        transform: scale(1.1) rotate(.02deg);
        -webkit-transition: -webkit-transform 1.4s;
        transition: transform 1.4s;
        transition: transform 1.4s, -webkit-transform 1.4s;
        will-change: transform;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d
    }
}

.info-list .wrap {
    overflow: hidden;
    margin-bottom: 29px;
    color: #1b1b1b;
    font: 10px/14px "sharp_sans_no1bold", sans-serif;
    text-transform: uppercase
}

@media (min-width: 1200px) {
    .info-list .wrap {
        opacity: 0
    }
}

.info-list .wrap a {
    float: left;
    color: #1b1b1b
}

.info-list .wrap time {
    position: relative;
    float: left;
    padding-left: 13px
}

#blogArchive .feed .category:before, .info-list .category:before, .info-list .wrap time:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -3px;
    height: 9px;
    width: 1px;
    background-color: #1b1b1b
}

#blogArchive .feed h6, .info-list h3 {
    font: 22px/32px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b;
    margin-bottom: 19px
}

@media (min-width: 1200px) {
    .info-list h3 {
        opacity: 0;
        font-size: 32px;
        line-height: 42px;
        padding-right: 105px
    }
}

.info-list .category {
    display: inline-block;
    vertical-align: top;
    font: 10px/14px "sharp_sans_no1bold", sans-serif;
    text-transform: uppercase;
    color: #fed005;
    margin: 5px 0;
    opacity: 0;
    position: relative
}

@media (min-width: 1200px) {
    .info-list .category {
        margin: 0 0 14px
    }
}

@media (min-width: 1600px) {
    .info-list .category {
        font-size: 12px
    }
}

#blogArchive .feed .category + .category, .info-list .category + .category {
    padding-left: 12px
}

#blogArchive .feed .category:before, .info-list .category:before {
    display: none;
    left: 5px;
    margin-top: -4px
}

#blogArchive .feed .content span, .info-list time {
    font: 10px/14px "sharp_sans_no1bold", sans-serif;
    display: block
}

.info-list time {
    opacity: 0
}

@media (min-width: 1600px) {
    .info-list time {
        font-size: 12px
    }
}

.page-intro {
    padding: 135px 15px 50px;
    font: 25px/35px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b;
    text-align: center
}

@media (min-width: 1200px) {
    .page-intro {
        padding: 75px 0 81px;
        font-size: 32px;
        line-height: 42px;
        text-align: left;
        position: relative;
        z-index: 20
    }
}

.page-intro .filter.centered {
    margin: 0 auto
}

@media (min-width: 1200px) {
    .page-intro .filter.centered {
        margin: -74px auto -41px
    }
}

.page-intro .container {
    position: static
}

@media (min-width: 768px) {
    .page-intro .container {
        max-width: 1000px
    }
}

.page-intro .has-animate {
    opacity: 0
}

.page-intro .has-animate.animated {
    -webkit-animation: .7s fadeInUp both;
    animation: .7s fadeInUp both;
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.page-intro .title {
    display: block;
    text-align: center;
    font: 35px/45px "sharp_sans_no1bold", sans-serif;
    text-transform: uppercase;
    position: relative;
    z-index: 20
}

.page-intro .title.animated:before {
    -webkit-animation: 1.2s waveAnimate linear both;
    animation: 1.2s waveAnimate linear both;
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

@media (min-width: 768px) {
    .page-intro .title {
        font-size: 46px;
        line-height: 52px
    }
}

.page-intro .title:after, .page-intro .title:before {
    content: '';
    position: absolute;
    height: 60px;
    will-change: transform;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.page-intro .title:after {
    width: calc(100vw + 30px);
    background: url(./images/waves.svg) repeat-x;
    background-size: auto 60px;
    left: -30px;
    z-index: -2
}

.page-intro .title:before {
    left: -15px;
    width: 100vw;
    background-color: #fff;
    z-index: -1
}

@media (min-width: 1200px) {
    .page-intro .title:before {
        left: 0
    }
}

.page-intro p {
    margin-bottom: 40px
}

@media (min-width: 1200px) {
    .page-intro p {
        margin-bottom: 58px
    }
}

.page-intro .some-info {
    font: 18px/26px "sharp_sans_no1regular", sans-serif;
    opacity: 0
}

@media (min-width: 768px) {
    .page-intro .some-info {
        max-width: 770px;
        margin: 0 auto
    }
}

@media (min-width: 1200px) {
    .page-intro .some-info {
        font-size: 22px;
        line-height: 32px;
        padding-top: 6px;
        margin-bottom: -61px
    }
}

.page-intro .some-info.animated {
    -webkit-animation: 1s fadeInUp both;
    animation: 1s fadeInUp both;
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

@media (min-width: 1200px) {
    .page-intro .some-info p {
        margin-bottom: 32px
    }
}

.text-center, .wp-pagenavi {
    text-align: center
}

.wp-pagenavi a, .wp-pagenavi span {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: .35px;
    color: #000;
    line-height: 14px;
    font-size: 14px;
    font-family: sharp_sans_no1bold, sans-serif;
    margin: 0 3px
}

@media (min-width: 768px) {
    .wp-pagenavi a, .wp-pagenavi span {
        border-radius: 50%;
        border: 2px solid transparent;
        -webkit-transition: border-color .3s ease;
        transition: border-color .3s ease;
        line-height: 26px;
        width: 30px;
        height: 30px;
        font-size: 14px
    }

    .wp-pagenavi a:hover:not(.current), .wp-pagenavi span:hover:not(.current) {
        border: 2px solid #000
    }
}

.wp-pagenavi a.current, .wp-pagenavi span.current {
    color: #fed005
}

@media (min-width: 768px) {
    .wp-pagenavi a.current, .wp-pagenavi span.current {
        border: 2px solid #fed005
    }
}

.wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink {
    width: 15px;
    height: 15px;
    font-size: 0;
    line-height: 0
}

@media (min-width: 768px) {
    .wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink {
        width: 30px;
        height: 30px
    }

    .wp-pagenavi .nextpostslink:hover, .wp-pagenavi .previouspostslink:hover {
        border: 2px solid transparent !important
    }
}

.wp-pagenavi .previouspostslink {
    background-image: url(./images/back.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px
}

@media (min-width: 1024px) {
    .wp-pagenavi .previouspostslink {
        margin-right: 18px
    }
}

.wp-pagenavi .nextpostslink {
    background-image: url(./images/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px
}

@media (min-width: 1024px) {
    .wp-pagenavi .nextpostslink {
        margin-left: 18px
    }
}

body {
    font-family: sharp_sans_no1regular, sans-serif;
    -webkit-font-smoothing: antialiased
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    list-style: none;
    padding: 0
}

@media (min-width: 768px) {
    .slick-dots {
        bottom: 70px
    }
}

.slick-dots li {
    vertical-align: middle;
    padding: 0 7px
}

.slick-dots button {
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 0;
    border-radius: 50%;
    padding: 0;
    outline: 0;
    -webkit-transition: .3s;
    transition: .3s
}

.slick-dots .slick-active button {
    border-color: #fdd005;
    background-color: #fdd005
}

#blogArchive {
    max-width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee
}

#blogArchive .wrap {
    padding: 1px 10px 40px;
    background: #fff;
    color: #000
}

@media (min-width: 1025px) {
    #blogArchive .wrap {
        padding: 100px 10px 40px
    }
}

@media (min-width: 1281px) {
    #blogArchive .wrap {
        padding-bottom: 90px
    }
}

@media (min-width: 1025px) {
    #blogArchive .body {
        min-width: 200px
    }
}

#blogArchive .subscribe-result {
    margin-top: 10px
}

#blogArchive figure {
    position: relative;
    display: block;
    max-width: 971px;
    margin: 15px auto
}

@media (min-width: 1200px) {
    #blogArchive figure {
        margin: 4px auto 5px
    }
}

#blogArchive img {
    width: 100%
}

#blogArchive blockquote {
    color: #fed005;
    font-family: sharp_sans_no1bold, sans-serif;
    font-style: italic;
    margin: 0 0 20px;
    position: relative
}

@media (min-width: 1200px) {
    #blogArchive blockquote {
        margin: 0 0 30px
    }

    #blogArchive blockquote:hover:before {
        background-position: 200% 50%
    }

    #blogArchive blockquote:hover:after {
        background-position: 50% 50%
    }
}

#blogArchive blockquote p {
    font-size: 25px;
    line-height: 35px
}

@media (min-width: 1200px) {
    #blogArchive blockquote p {
        font-size: 32px;
        line-height: 42px
    }
}

#blogArchive blockquote:before, .slick-dots li {
    display: inline-block
}

#blogArchive blockquote:after, #blogArchive blockquote:before {
    content: '';
    position: relative;
    margin: 0 9px -12px 0;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 5px #fed005;
    box-shadow: inset 0 0 0 5px #fed005;
    background: url(./images/ico-quote.svg) 50% 50% no-repeat;
    overflow: hidden
}

@media (min-width: 1200px) {
    #blogArchive blockquote:after, #blogArchive blockquote:before {
        margin: 2px 30px 0 0;
        position: absolute;
        right: 100%;
        top: 0;
        -webkit-transition: background-position .5s;
        transition: background-position .5s
    }
}

#blogArchive blockquote:after {
    display: none
}

@media (min-width: 1200px) {
    #blogArchive blockquote:after {
        display: block;
        background-position: -100% 50%
    }
}

#blogArchive .h1, #blogArchive h1 {
    font: 42px/52px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b;
    margin-bottom: 12px;
    margin-top: 15px
}

@media (min-width: 1200px) {
    #blogArchive .h1, #blogArchive h1 {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 15px;
        margin-top: 30px
    }
}

#blogArchive .h2, #blogArchive h2 {
    font: 25px/35px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b;
    margin-bottom: 12px;
    margin-top: 15px
}

@media (min-width: 1200px) {
    #blogArchive .h2, #blogArchive h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 15px;
        margin-top: 30px
    }
}

#blogArchive .h3, #blogArchive h3 {
    font: 20px/30px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b;
    margin-bottom: 12px;
    margin-top: 15px
}

@media (min-width: 1200px) {
    #blogArchive .h3, #blogArchive h3 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 15px;
        margin-top: 30px
    }
}

#blogArchive .h4, #blogArchive h4 {
    font: 16px/26px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b;
    margin-bottom: 12px;
    margin-top: 15px
}

@media (min-width: 1200px) {
    #blogArchive .h4, #blogArchive h4 {
        margin-top: 30px
    }
}

#blogArchive .h5, #blogArchive h5 {
    font: 16px/26px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b;
    margin-bottom: 12px;
    margin-top: 15px
}

@media (min-width: 1200px) {
    #blogArchive .h5, #blogArchive h5 {
        margin-top: 30px
    }
}

#blogArchive .h6, #blogArchive h6 {
    font: 16px/26px "sharp_sans_no1bold", sans-serif;
    color: #1b1b1b;
    margin-bottom: 12px;
    margin-top: 15px
}

@media (min-width: 1200px) {
    #blogArchive .h6, #blogArchive h6 {
        margin-top: 30px
    }
}

#blogArchive .container {
    max-width: 1170px;
    margin: auto
}

#blogArchive .feed {
    padding-top: 20px
}

@media (min-width: 768px) {
    #blogArchive .feed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

#blogArchive .feed .body {
    display: block;
    background-color: #fff;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    width: 100%
}

#blogArchive .feed .visual {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 233px
}

#blogArchive .feed .content {
    padding: 13px 26px 40px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative
}

#blogArchive .feed .content span {
    margin-top: 5px
}

@media (min-width: 1200px) {
    #blogArchive .feed .content span {
        font-size: 12px;
        margin-top: 14px
    }
}

#blogArchive .feed .category {
    display: inline;
    font: 10px/14px "sharp_sans_no1bold", sans-serif;
    text-transform: uppercase;
    color: #fed005;
    position: relative
}

@media (min-width: 1200px) {
    #blogArchive .feed .category {
        font-size: 12px
    }
}

#blogArchive .feed .category:before {
    top: 7px
}

@media (min-width: 1200px) {
    #blogArchive .feed .category:before {
        top: 8px
    }
}

#blogArchive .article {
    margin-bottom: 30px
}

@media (min-width: 768px) {
    #blogArchive .article, #blogArchive .article .body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    #blogArchive .article {
        width: 50%;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        padding: 0 15px
    }

    #blogArchive .article .body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    #blogArchive .article .content {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
}

@media (min-width: 1025px) {
    #blogArchive .article {
        width: 33.3333%
    }
}

#blogArchive .loading {
    display: block;
    width: 65px;
    margin: auto;
    -webkit-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite
}

#author-card {
    background: #fff;
    border-radius: 7px;
    -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, .05);
    box-shadow: 0 5px 35px rgba(0, 0, 0, .05);
    padding: 48px;
    margin: 0 auto 40px;
    max-width: 300px
}

@media (min-width: 1025px) {
    #author-card {
        max-width: 100%;
        margin: 0 0 40px
    }
}

#author-card .avatar {
    width: 116px;
    height: 116px;
    max-width: 100%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 1px rgba(0, 0, 0, .1);
    border-radius: 50%;
    margin: 0 auto 26px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

#author-card .title {
    font-family: sharp_sans_no1bold, sans-serif;
    margin-bottom: 10px
}

#author-card .desc {
    font-size: 12px;
    color: #8c8c8c
}

@media (min-width: 1025px) {
    .col-descr {
        padding-top: 35px
    }
}

.back-link {
    display: inline-block;
    font: 15px/20px "sharp_sans_no1bold", sans-serif;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 15px
}

.back-link:hover {
    color: #000
}

#subscribe {
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 109px rgba(0, 0, 0, .05);
    box-shadow: 0 5px 109px rgba(0, 0, 0, .05);
    background: #fff;
    padding: 20px;
    margin-bottom: 40px
}

#subscribe p {
    position: relative;
    display: inline-block
}

#subscribe p:before {
    position: absolute;
    content: '';
    top: 50%;
    left: -20px;
    width: 14px;
    height: 2px;
    margin-top: -1px;
    background: #fbd514
}

@media (min-width: 1025px) {
    #subscribe {
        padding: 80px 62px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 90px
    }

    #subscribe .col {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    #subscribe p {
        margin-bottom: 0
    }
}

#subscribe .input-group {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 30px
}

#subscribe .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #f6f6f6;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out
}

@media (min-width: 421px) {
    #subscribe .input-group label {
        background: #f6f6f6 url(./images/shape-422.png) no-repeat 20px 50%
    }
}

#subscribe [type=email], #subscribe [type=submit] {
    float: left;
    position: relative;
    z-index: 1;
    outline: 0;
    padding: 19px 40px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out
}

#subscribe [type=email] {
    border: 0;
    background-color: transparent;
    width: 70%
}

@media (min-width: 421px) {
    #subscribe [type=email] {
        padding-left: 50px
    }
}

#subscribe [type=email]:focus + label {
    background-color: #fbd514
}

#subscribe [type=submit] {
    border: 0;
    background: #fbd514;
    width: 30%;
    font-family: sharp_sans_no1bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3
}

#subscribe [type=submit]:hover {
    background-color: #d8b504
}

@media (max-width: 420px) {
    #subscribe [type=email], #subscribe [type=submit] {
        width: 100%
    }
}

::-webkit-input-placeholder {
    color: #858585;
    opacity: 1
}

::-moz-input-placeholder {
    color: #858585;
    opacity: 1
}

#featured.slick-initialized .motion, .single-post .motion {
    -webkit-animation: up .5s .5s ease-out forwards;
    animation: up .5s .5s ease-out forwards
}

.page-template-blog #header, .post-type-archive-blog #header, .single-blog #header, .tax-blog_taxonomies #header {
    background: #fff
}

.page-template-blog #header #m-nav, .page-template-blog #header .fa, .post-type-archive-blog #header #m-nav, .post-type-archive-blog #header .fa, .single-blog #header #m-nav, .single-blog #header .fa, .tax-blog_taxonomies #header #m-nav, .tax-blog_taxonomies #header .fa {
    color: #000
}

@media (max-width: 1025px) {
    .page-template-blog #header, .post-type-archive-blog #header, .single-blog #header, .tax-blog_taxonomies #header {
        padding: 20px 0 25px
    }
}

@media (max-width: 640px) {
    .page-template-blog #header, .post-type-archive-blog #header, .single-blog #header, .tax-blog_taxonomies #header {
        padding: 10px 0 30px
    }
}

.page-template-blog #header .header #logo, .post-type-archive-blog #header .header #logo, .single-blog #header .header #logo, .tax-blog_taxonomies #header .header #logo {
    background: url(./images/bigdrop.svg) no-repeat
}

.page-template-blog #header .header #nav > ul > li > a, .post-type-archive-blog #header .header #nav > ul > li > a, .single-blog #header .header #nav > ul > li > a, .tax-blog_taxonomies #header .header #nav > ul > li > a {
    color: #000 !important;
    text-shadow: none
}