@font-face {
    font-family: sharp_sans_no1regular;
    src: url(./fonts/ss-400-webfont.eot);
    src: url(./fonts/ss-400-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/ss-400-webfont.woff2) format("woff2"), url(./fonts/ss-400-webfont.woff) format("woff"), url(./fonts/ss-400-webfont.ttf) format("truetype"), url(./fonts/ss-400-webfont.svg#sharp_sans_no1regular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: sharp_sans_no1bold;
    src: url(./fonts/ss-700-webfont.eot);
    src: url(./fonts/ss-700-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/ss-700-webfont.woff2) format("woff2"), url(./fonts/ss-700-webfont.woff) format("woff"), url(./fonts/ss-700-webfont.ttf) format("truetype"), url(./fonts/ss-700-webfont.svg#sharp_sans_no1bold) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: sharp_sans_no1regular, sans-serif;
    -webkit-font-smoothing: antialiased
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ol, ul {
    padding: 0;
    margin: 0
}

.btn, .text-center {
    text-align: center
}

.btn {
    min-width: 172px;
    height: 55px;
    border-radius: 30px;
    border: 6px solid transparent;
    display: inline-block;
    vertical-align: top;
    line-height: 42px;
    padding: 0 10px;
    font-size: 16px;
    font-family: sharp_sans_no1bold, sans-serif
}

.btn.btn-white {
    border: 6px solid #fff
}

.btn, .btn:hover, body.post-type-archive #header #m-nav, body.post-type-archive #header .fa, body.single-services #header #m-nav, body.single-services #header .fa, body.tax-category-services #header #m-nav, body.tax-category-services #header .fa {
    color: #000
}

.services {
    min-height: 73vh
}

.services .wrap {
    color: #000
}

@media (min-width: 1200px) {
    .services .wrap {
    }
}

.services h1, .services h2, .services h3, .services h4, .services h5, .services h6 {
    margin-top: 0;
    color: #1b1b1b
}

.services .h1, .services h1 {
    font: 36px/40px "Oswald", sans-serif;
    margin-bottom: 20px
}

@media (min-width: 1200px) {
    .services .h1, .services h1 {
        font-size: 46px;
        line-height: 56px;
        margin-bottom: 25px
    }
}

.services .h2, .services h2 {
    font: 25px/35px "sharp_sans_no1bold", sans-serif;
    margin-bottom: 20px
}

@media (min-width: 1200px) {
    .services .h2, .services h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 25px
    }
}

.services .h3, .services h3 {
    font: 20px/30px "sharp_sans_no1bold", sans-serif;
    margin-bottom: 20px
}

@media (min-width: 1200px) {
    .services .h3, .services h3 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 25px
    }
}

.services .h4, .services .h5, .services .h6, .services h4, .services h5, .services h6 {
    font: 16px/26px "sharp_sans_no1bold", sans-serif;
    margin-bottom: 20px
}

.services ol, .services p, .services ul {
    font: 17px/1.4 "sharp_sans_no1regular", sans-serif;
    margin-bottom: 20px
}

@media (min-width: 1200px) {
    .services ol, .services p, .services ul {
        font-size: 19px;
        line-height: 1.4;
        margin-bottom: 40px
    }
}

.services .container, .services .container-lg {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px
}

.services .container-lg {
    max-width: 1200px
}

.services-intro {
    margin-bottom: 50px
}

@media (min-width: 1200px) {
    .services-intro {
        margin-bottom: 103px
    }

    .services-intro p {
        max-width: 940px
    }

    .services-intro .h1, .services-intro h1 {
        margin-bottom: 54px
    }
}

.services-list .item {
    display: block;
    color: #fff;
    margin-bottom: 40px;
    min-height: 318px;
    padding: 50px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

@media (min-width: 1200px) {
    .services-list .item {
        padding: 100px
    }
}

.services-list .item.with-shadow:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3)
}

.services-list * {
    position: relative;
    z-index: 1
}

.services-list .h2, .services-list h2 {
    color: #fff;
    margin-bottom: 15px
}

.services-list .sub-title {
    font: 18px/24px "sharp_sans_no1regular", sans-serif;
    max-width: 250px
}

@media (min-width: 1200px) {
    .services-list .sub-title {
        font-size: 22px;
        line-height: 28px
    }
}

.request-block {
    background-color: #fecf05;
    padding: 25px 0 30px
}

@media (min-width: 1200px) {
    .request-block {
        padding: 50px 0 61px
    }
}

.request-block .h1 {
    max-width: 430px;
    margin: 0 auto 25px
}

@media (min-width: 1200px) {
    .request-block .h1 {
        margin-bottom: 50px
    }
}

.request-block .btn {
    color: #fff;
    background-color: #d63e4b;
    border-color: #d63e4b !important
}

.service-single .services-intro {
    font-size: 17px;
    line-height: 1.4
}

@media (min-width: 1200px) {
    .service-single .services-intro {
        padding: 0 55px;
        margin-bottom: 57px;
        font-size: 19px;
        line-height: 1.4
    }
}

.service-single .request-block {
    margin-bottom: 30px
}

@media (min-width: 1200px) {
    .service-single .request-block {
        padding: 37px 0 40px;
        margin-bottom: 45px
    }
}

.service-single .request-block .h1 {
    max-width: 100%;
    margin: 0 auto 23px
}

.categories-list {
    margin-bottom: 25px
}

@media (min-width: 1200px) {
    .categories-list {
        margin-bottom: 50px
    }
}

.categories-list ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.categories-list li {
    font-size: 18px;
    font-family: sharp_sans_no1bold, sans-serif;
    padding: 0 32px;
    line-height: 1.2
}

@media (min-width: 1200px) {
    .categories-list li {
        font-size: 22px
    }
}

.categories-list li:before, .skills-list li:before {
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    background-color: #fecf05;
    border-radius: 4px;
    margin-right: 10px
}

.featured-img {
    height: 318px;
    margin-bottom: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

@media (min-width: 1200px) {
    .featured-img {
        height: 430px;
        margin-bottom: 72px
    }
}

.categories-list li, .images-grid .h1, .related-projects .h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1b1b1b
}

@media (min-width: 1200px) {
    .images-grid .h1, .related-projects .h1 {
        margin-bottom: 40px
    }
}

.images-grid .holder, .related-projects .holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px
}

.images-grid .item, .related-projects .item {
    height: 309px;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    .images-grid .item, .related-projects .item {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
}

@media (min-width: 1024px) {
    .images-grid .item, .related-projects .item {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%
    }
}

@media (min-width: 1200px) {
    .images-grid .item, .related-projects .item {
        margin-bottom: 40px
    }
}

@media (min-width: 768px) {
    .images-grid .item.double-width, .related-projects .item.double-width {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

@media (min-width: 1024px) {
    .images-grid .item.double-width, .related-projects .item.double-width {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%
    }
}

@media (min-width: 768px) {
    .images-grid .item.double-width .pic, .related-projects .item.double-width .pic {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.images-grid .pic, .related-projects .pic {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (min-width: 1200px) {
    .images-grid .pic, .related-projects .pic {
        padding: 45px 69px
    }
}

.images-grid .pic .h2, .images-grid .pic h2, .related-projects .pic .h2, .related-projects .pic h2 {
    color: #fff;
    margin: 0
}

@media (min-width: 1200px) {
    .images-grid {
        margin-bottom: 15px
    }

    .skills-list {
        margin-top: -19px
    }
}

.skills-list .holder {
    max-width: 800px;
    margin: 0 auto
}

@media (min-width: 640px) {
    .skills-list .holder {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.skills-list .item {
    padding: 0 10px;
    margin-bottom: 20px
}

.skills-list ul {
    list-style: none;
    font: 14px/24px "sharp_sans_no1regular", sans-serif;
    color: #1b1b1b
}

.skills-list li:before {
    width: 4px;
    height: 4px;
    border-radius: 2px
}

.skills-list h3 {
    margin-bottom: 4px
}

body.post-type-archive, body.post-type-archive #header, body.single-services, body.single-services #header, body.tax-category-services, body.tax-category-services #header {
    background: #fff;
    height: 78px;
}

@media (max-width: 1025px) {
    body.post-type-archive #header, body.single-services #header, body.tax-category-services #header {
        height: 78px;
    }

    @media (max-width: 640px) {
        body.post-type-archive #header, body.single-services #header, body.tax-category-services #header {
            height: 78px;
        }
    }body.post-type-archive #header .header #logo, body.single-services #header .header #logo, body.tax-category-services #header .header #logo {
         background: url(images/BigSpaceBlack_v2.svg) no-repeat
     }

    body.post-type-archive #header .header #nav > ul > li > a, body.single-services #header .header #nav > ul > li > a, body.tax-category-services #header .header #nav > ul > li > a {
        color: #000 !important;
        text-shadow: none
    }
}